<footer class="footer flex">
    <div id="spring-links flex">
        <p class="smallest antialiased">Copyright © 2005 - <script>var d = new Date();
        document.write(d.getFullYear());</script></p>
    </div>
</footer>
