<ul class="projects">
  <li>
    Related Documentation
    <ul class="projects-list">
      {{#each (related_projects (split page.attributes.related-doc-categories) (split page.attributes.related-doc-projects) (spring-projects))}}
        {{> related-project this}}
      {{/each}}
      <li><a href="{{page.component.asciidoc.attributes.other-docs-url}}">{{page.component.asciidoc.attributes.other-docs-label}}</a></li>
    </ul>
  </li>
</ul>
